[submodule "lib/libpd"]
	path = lib/libpd
	url = https://github.com/libpd/libpd.git
[submodule "lib/pd-comport"]
	path = lib/pd-comport
	url = https://git.iem.at/pd/comport.git
[submodule "lib/pd-mrpeach"]
	path = lib/pd-mrpeach
	url = https://github.com/reduzent/pd-mrpeach.git
